<section class="mt-5">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <h2 class="text-uppercase mb-3">Nimble Test App</h2>
      <% if user_signed_in? %>
      	<%= link_to "Search", new_search_query_path %><br />
      	<%= link_to "Previous Searches", search_queries_path %>
      <% end %>
    </div>
  </div>
</section>
